/* Own container with buttons*/
.app-container {
    background: rgba(247, 189, 64, 0.8); 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 50px; 
}

.caption-container {
    font-size: 3rem; 
    color: #ffffff; 
    text-transform: uppercase; 
    margin-bottom: 20px; 
    letter-spacing: 2px; 
    border-bottom: 3px solid #ffffff; 
    display: inline-block; 
    padding: 5px 10px; 
}

.input-container {
    padding: 10px 15px; 
    border: 2px solid #473e09; 
    border-radius: 20px; 
    outline: none; 
    font-size: 1rem; 
    flex: 1; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s; 
}

.input-container:hover {
    outline: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.input-button {
    padding: 10px 20px; 
    border: none; 
    border-radius: 20px; 
    background-color: #473e09; 
    color: #fff; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.input-button:hover {
    background-color: #fff;
    color: #473e09;
}

/* ToDo List and ToDo item*/
.todo-list {
    list-style: none; 
    padding: 0; 
    margin: 20px 0; 
}

.todo-item {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background: #fff; 
    padding: 10px 15px; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    margin-bottom: 10px; 
}

.todo-item.completed {
    text-decoration: line-through;
    color: #999;
}

/* Buttons complete and delete*/
.complete-btn {
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    color: transparent;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 5px;
}
  
.complete-btn.completed::before {
    content: "✔"; 
    color: white; 
    font-size: 1.2rem; 
}

.complete-btn.completed {
    background-color: #4CAF50; 
    border-color: #4CAF50; 
}

.complete-btn:hover {
    background-color: #45a049; 
    border-color: #45a049; 
}
.delete-btn {
    background-color: #f44336;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
  
.delete-btn:hover {
    background-color: #d32f2f;
}
